---
pageShortName: contact
---

<div style="width: 90%; margin:auto">
  <br>
  <h2 class="center"><b>Contact Us</b></h2>
  <br>
  If you have any questions you would like to ask us, please contact us at
  the address or telephone number below:<br><br>
  
  <h2 class="center">Postal Address (Mail Order Only)</h2>
  Wood Supplies
  <br>"Monkey Puzzle Cottage"
  <br>53 Woodmansterne Lane
  <br>Wallington
  <br>Surrey
  <br>SM6 0SW
  <br><br>
  
  <h2 class="center">Telephone</h2>
  020 8669 7266 (Mon-Sat 9am-9pm)

  <br><br>
</div>