---
pageShortName: framing
---

<div style="width: 90%; margin:auto" class="left">
  <br>
  <h2 class="center"><b>Miniature Picture Framing</b></h2>
  <br><br>
  For details of our picture framing, please download our price list, in <a href="/downloads/Wood-Supplies-Pricelist-2020.pdf" target="_blank">PDF</a> format.
  <br><br><br><br><br>
</div>