---
pageShortName: home
---

<div style="margin:auto;">
  <img src="/images/front.jpg" class="noprint" width="700" height="150" alt="Wood Supplies: Welcome" />
  <img src="/images/frontprint.jpg" class="onlyprint" width="500" alt="Wood Supplies: Welcome" />
</div>
<div style="margin:auto; width: 90%;">
  <ul style="text-align:left">
    <li><a href="/miniature">Specialist Wood for Miniature Work</a> (including our complete catalogue, updated 2020)</li>
    <li><a href="/provenance">Provenance Miniatures</a></li>
    <li><a href="/framing">Miniature Picture Framing</a></li>
  </ul>
</div>