---
pageShortName: miniature
---

<div style="width: 90%; margin:auto" class="left">
  <br>
  <h2 class="center"><b>Specialist Wood for Miniature Work</b></h2>
  <p>
    <br>
    We are pleased to present our latest catalogue (<a href="#catalogue">see below</a>), which includes (450 mm) 18" long sheet wood, strip wood, and many types of mouldings.  We also list a large range of picture frame mouldings and an extensive selection of ready-made picture frames. <br>
    (Any special requirements not listed please telephone for availability.)
    <br><br>
  </p>
  <p>
    Wood Supplies was established with the aim of supplying high quality small sizes of wood for miniature work and model making.  We offer many species and sizes of sheet wood, strip wood,  wooden architectural mouldings, picture framing, wood turning and carving sections, oak Tudor beams, floorboards, plywood and Perspex, plus many other sections all suitable for internal and external joinery and fittings for 1/12th, 1/24th and other scale dolls houses, shops, miniature furniture making, model boats, railways and much more.<br><br>
  </p>
  <p>
    The wood is carefully prepared in our own workshop after being selected for its fine straight grain, freedom from knots and defects, easy workability and stability, good colour and ability to take a fine finish, and most importantly, coming from properly managed sustainable sources.<br><br>
  </p>
  <p>
    We supply many of the countries finest and best known professional makers and attend many shows during the year where our range of products will be on sale including:- The Kensington Dolls House Festival (May & Christmas Shows), The City of London Dollshouse Festival, NEC Miniatura (Spring &amp; Autumn Shows)), Dorking (Surrey), and Thame (Oxfordshire).
  </p>

  <br><br>

  <h2 class="center">Mail Order</h2>
  <br>
  We also offer a prompt mail order service, see &ldquo;How to Order&rdquo; on page 3 of the catalogue, we use convenient letter-box size packaging, backed up with a "no quibble" money back guarantee in the unlikely event of any of our wood not coming up to your expectations.

  <br><br>

  <h2 class="center">Telephone Ordering</h2>
  <br>Telephone your order in.
  <br>We will calculate the cost.
  <br>Payment can either be made by cheque; payable to J. Syred, with your address on the back, or by Paypal; send your payment to <a href="mailto:jill.syred@gmail.com">jill.syred@gmail.com</a> (email address is for Paypal payment only).
  <br>Your order will be dispatched promptly.
  <br><br>

  <h2 class="center">Internet Ordering</h2>
  <br>Online ordering and payment facilities are not yet available, however, you can print out a copy of the catalogue below, and order by one of the above methods.<br>

  <a name="catalogue"></a>
  <br><br>
  <h2 class="center">Catalogue</h2>
  <br>
  You can download the complete catalogue available in Adobe PDF file. <a href="/downloads/Wood-Supplies-Pricelist-2020.pdf" target="_blank">Click here</a>

  <br><br>For further enquiries, advice or to place orders telephone 020 8669 7266 (Mon-Sat 9am-9pm).
</div>