---
pageShortName: provenance
---

<script type="text/javascript">
function ImgEnlargeBrigh() {
window.open("imageviewer.php?image=images/brightpic.jpg&amp;title=Brighton Pier after the Storm","","scrollbars=yes,width=713,height=545,left=0,top=0");
}
function ImgEnlargeVictNight() {
window.open("imageviewer.php?image=images/victnight.jpg&amp;title=H.M.S. Victory at Night","","scrollbars=yes,width=713,height=545,left=0,top=0");
}
function ImgEnlargeProv() {
window.open("imagemed.php?image=prov&amp;title=Provenance Miniatures","","scrollbars=yes,width=713,height=545,left=0,top=0");
}
</script>
    
<div style="width: 95%; margin:auto" class="left">
  <br>
  <h2 class="center"><b>Provenance Miniatures</b></h2>
  <div class="center"><b>(Your Chance To Own A Piece Of History)</b></div>
  <br>
  <a href="javascript:ImgEnlargeProv()"><img src="/images/provsmall.jpg" style="border:0; float:right; padding-left:5px;" alt="Click to Enlarge" /></a>
  Wood Supplies have been fortunate in acquiring a limited quantity of wood with a famous
  history, the photograph on the right shows some of the hand made country style furniture,
  mirrors, picture frames and real pressed flower pictures, all available in many sizes.
  <br><br>
  The pieces have a distressed aged appearance, combined with an antiqued beeswax finish
  to create a warm golden patina.  Each piece comes with a signed certificate of provenance
  guaranteeing its origin and authenticity.
  <br><br>
  The range can be seen at the following shows:- The London Dolls House Festival, N.E.C. Miniatura, London Excel Exhibition Centre,
  Alexandra Palace and many others.  Alternatively they are available by post using the <a href="/provordform">mail order form</a>
  and carry our usual no quibble money back guarantee in the unlikely event of any of the
  items not coming up to your expectations.   
  <br><br>
  <h2 class="center">H.M.S. Victory Collection (OV)</h2>
  <br><a href="javascript:ImgEnlargeVictNight()"><img src="/images/victnightsmall.jpg" style="border:0; float:left; padding-right:5px;" alt="Click to Enlarge" /></a>Original oak from Lord Nelson's Flag ship in which he died during the battle of
  Trafalgar in 1805.  The ship was dry docked at Portsmouth in 1922 and has been subject
  to an ongoing restoration ever since.  The old oak that was removed, was carefully stored,
  and some of this has now been released for sale by the Admiralty to fund the final restoration,
  to put the ship in fine order to commemorate the bicentenary of the Battle of Trafalgar
  in 2005.  Each item comes with a certificate of provenance from H.M. Admiralty.
  <br><br><h2 class="center">Brighton West Pier Collection (BP)</h2>
  <br><a href="javascript:ImgEnlargeBrigh()"><img src="/images/brightpicsmall.jpg" style="float:right; padding-left:5px; border:0;" alt="Click to Enlarge" /></a>Original decking from this famous Victorian pier which partially collapsed into the sea
  during a fierce storm in January 2003, followed by a devastating fire two months later,
  that destroyed what was left.
  <br><br>
  The pier built in 1866 was one of the finest examples of Victorian pier building techniques,
  designed by Eugenious Birch, who was the most famous pier designer and architect of the time.
  <br><br>
  <br>The wood used was mainly British Columbian pine, considered one of the strongest woods,
  and enjoying an unparalleled reputation as an all purpose wood of great dependability.
  It is supreme for heavy construction, as well as highly water resistant and very durable.
  It also supplies almost every item in wood needed in ship building from the keel to the
  top mast.  Each item comes with a certificate of provenance.
  <br><br>
  <h2 class="center" style="page-break-before:always"><b>Future Collections Including:-</b></h2>
  <br>
  <h2 class="center">The Cutty Sark Collection (CS)</h2>
  <br>Wood removed from this famous ship during its restoration at Greenwich.
  <br><br><h2 class="center">The Armada Collection (A)</h2>
  <br>Wood from the former Royal Gun Powder Magazines built in 1760 from what is believed
  to be broken up ship timbers from the Armada period of 1588.
  <br><br><h2 class="center">The Royal Collection (R)</h2>
  <br>Wood from a Walnut tree removed from the Queen's private moat garden at Windsor Castle.
  <br><br><h2 class="center">The Windsor Collection (W)</h2>
  <br>Wood from a tree from Queen Anne's Ride at Windsor Castle, some of which was used by
  the royal cabinet makers to replace furniture destroyed during the great fire at the Castle.
  <br><br><h2 class="center">The Churchill Collection (C)</h2>
  <br>Wood from a tree removed from the walled garden of Sir Winston Churchill's country estate
  at Chartwell and once described by him, as his beloved copper beech tree.
  <br><br><h2 class="center"><i>Plus many others planned - all with certificates of provenance
  guaranteeing the woods origin and authenticity.</i></h2>
  <br><br>
</div>